<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "Valentina Design" || current_page.data.title %></title>

    <%= stylesheet_link_tag "styles" %>

    <%= partial "partials/favicons" %>

  </head>

  <body class="<%= page_classes %>">

    <%= partial "partials/ifIE" %>

    <div class="wrapper">
      <%= yield %>
    </div>

    <%= partial "js/footerJS" %>

  </body>

</html>
