---
title: Valentina Design - Feeling Inspired :)
---
<%= partial "partials/header" %>
<%= partial "partials/nav" %>

<div class="content">
  <%= partial "partials/gallery_nav" %>

  <main class="twoColMain gallery">

    <% da_title ="digital_prints" %>
    <% da_path ="img/lightbox/gallery/prints/" %>

    <ul>
   <!--    <li class="galleryGrid">
        <a href="<%=da_path%>ampersand.jpg" rel="lightbox[<%=da_title%>]" title="Ampersand">
          <img src="<%=da_path%>ampersand_sm.jpg">
        </a>
      </li> -->
      <li class="galleryGrid">
        <a href="<%=da_path%>barkysimeto.jpg" rel="lightbox[<%=da_title%>]" title="Barkysimeto">
          <img src="<%=da_path%>barkysimeto_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>emaline.jpg" rel="lightbox[<%=da_title%>]" title="Emaline">
          <img src="<%=da_path%>emaline_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>frisky_christy.jpg" rel="lightbox[<%=da_title%>]" title="Frisky Christy">
          <img src="<%=da_path%>frisky_christy_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>hello_person.jpg" rel="lightbox[<%=da_title%>]" title="Hello Person">
          <img src="<%=da_path%>hello_person_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>hippotastique.jpg" rel="lightbox[<%=da_title%>]" title="Hippotastique">
          <img src="<%=da_path%>hippotastique_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>humming_heaven.jpg" rel="lightbox[<%=da_title%>]" title="Humming Heaven">
          <img src="<%=da_path%>humming_heaven_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>little_fish.jpg" rel="lightbox[<%=da_title%>]" title="Little Fish">
          <img src="<%=da_path%>little_fish_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>lovebirds.jpg" rel="lightbox[<%=da_title%>]" title="Lovebirds">
          <img src="<%=da_path%>lovebirds_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>milo.jpg" rel="lightbox[<%=da_title%>]" title="Milo">
          <img src="<%=da_path%>milo_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>phileus_frog.jpg" rel="lightbox[<%=da_title%>]" title="Phileus Frog">
          <img src="<%=da_path%>phileus_frog_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>ruby.jpg" rel="lightbox[<%=da_title%>]" title="Ruby">
          <img src="<%=da_path%>ruby_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>shower_of_joy.jpg" rel="lightbox[<%=da_title%>]" title="Shower Of Joy">
          <img src="<%=da_path%>shower_of_joy_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>sugar_skull.jpg" rel="lightbox[<%=da_title%>]" title="Sugar Skull">
          <img src="<%=da_path%>sugar_skull_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>aaron.jpg" rel="lightbox[<%=da_title%>]" title="Aaron">
          <img src="<%=da_path%>aaron_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>alcahofa.jpg" rel="lightbox[<%=da_title%>]" title="Alcahofa">
          <img src="<%=da_path%>alcahofa_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>alexis.jpg" rel="lightbox[<%=da_title%>]" title="Alexis">
          <img src="<%=da_path%>alexis_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>always_be_yourself.jpg" rel="lightbox[<%=da_title%>]" title="Always Be Yourself">
          <img src="<%=da_path%>always_be_yourself_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>arabella_and_the_flowers.jpg" rel="lightbox[<%=da_title%>]" title="Arabella and the Flowers">
          <img src="<%=da_path%>arabella_and_the_flowers_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>beatriz.jpg" rel="lightbox[<%=da_title%>]" title="Beatriz">
          <img src="<%=da_path%>beatriz_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>dear_deer.jpg" rel="lightbox[<%=da_title%>]" title="Dear Deer">
          <img src="<%=da_path%>dear_deer_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>deep_blue_me.jpg" rel="lightbox[<%=da_title%>]" title="Deep Blue Me">
          <img src="<%=da_path%>deep_blue_me_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>deep_violet.jpg" rel="lightbox[<%=da_title%>]" title="Deep Violet">
          <img src="<%=da_path%>deep_violet_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>emilia.jpg" rel="lightbox[<%=da_title%>]" title="Emilia">
          <img src="<%=da_path%>emilia_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>escargopolooza.jpg" rel="lightbox[<%=da_title%>]" title="Escargopolooza">
          <img src="<%=da_path%>escargopolooza_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>eva.jpg" rel="lightbox[<%=da_title%>]" title="Eva">
          <img src="<%=da_path%>eva_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>everything_always_starts_with_a_dream.jpg" rel="lightbox[<%=da_title%>]" title="Everything Always Starts with a Dream">
          <img src="<%=da_path%>everything_always_starts_with_a_dream_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>feather_heaven.jpg" rel="lightbox[<%=da_title%>]"
          title="Feather Heaven">
          <img src="<%=da_path%>feather_heaven_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>follow_your_dreams.jpg" rel="lightbox[<%=da_title%>]"
          title="Follow Your Dreams">
          <img src="<%=da_path%>follow_your_dreams_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>ganesha.jpg" rel="lightbox[<%=da_title%>]"
          title="Ganesha">
          <img src="<%=da_path%>ganesha_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>giraffe.jpg" rel="lightbox[<%=da_title%>]"
          title="Giraffe">
          <img src="<%=da_path%>giraffe_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>have_some_coffee.jpg" rel="lightbox[<%=da_title%>]"
          title="Have Some Coffee">
          <img src="<%=da_path%>have_some_coffee_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>helios.jpg" rel="lightbox[<%=da_title%>]"
          title="Helios">
          <img src="<%=da_path%>helios_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>hello_bird.jpg" rel="lightbox[<%=da_title%>]"
          title="Hello Bird">
          <img src="<%=da_path%>hello_bird_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>honcho.jpg" rel="lightbox[<%=da_title%>]"
          title="Honcho">
          <img src="<%=da_path%>honcho_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>i_was_a_dinosaur.jpg" rel="lightbox[<%=da_title%>]"
          title="I Was A Dinosaur">
          <img src="<%=da_path%>i_was_a_dinosaur_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>its_all_in_your_head.jpg" rel="lightbox[<%=da_title%>]"
          title="Its all in your head">
          <img src="<%=da_path%>its_all_in_your_head_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>lets_cook.jpg" rel="lightbox[<%=da_title%>]"
          title="Lets Cook">
          <img src="<%=da_path%>lets_cook_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>love_owls_in_the_tree.jpg" rel="lightbox[<%=da_title%>]"
          title="Love Owls in the Tree">
          <img src="<%=da_path%>love_owls_in_the_tree_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>masamiosa.jpg" rel="lightbox[<%=da_title%>]"
          title="Masamiosa">
          <img src="<%=da_path%>masamiosa_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>mr_pavo_real.jpg" rel="lightbox[<%=da_title%>]"
          title="Mr Pavo Real">
          <img src="<%=da_path%>mr_pavo_real_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>octopus_bloom.jpg" rel="lightbox[<%=da_title%>]"
          title="Octopus Bloom">
          <img src="<%=da_path%>octopus_bloom_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>out_of_sight.jpg" rel="lightbox[<%=da_title%>]"
          title="Out of Sight">
          <img src="<%=da_path%>out_of_sight_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>paisley_piggy.jpg" rel="lightbox[<%=da_title%>]"
          title="Paisley Piggy">
          <img src="<%=da_path%>paisley_piggy_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>peter.jpg" rel="lightbox[<%=da_title%>]"
          title="Peter">
          <img src="<%=da_path%>peter_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>random_talking.jpg" rel="lightbox[<%=da_title%>]"
          title="Random Talking">
          <img src="<%=da_path%>random_talking_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>rosebud.jpg" rel="lightbox[<%=da_title%>]"
          title="Rosebud">
          <img src="<%=da_path%>rosebud_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>royal_flamingo.jpg" rel="lightbox[<%=da_title%>]"
          title="Royal Flamingo">
          <img src="<%=da_path%>royal_flamingo_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>shiny_shannon.jpg" rel="lightbox[<%=da_title%>]"
          title="Shiny Shannon">
          <img src="<%=da_path%>shiny_shannon_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>sitting_buddha.jpg" rel="lightbox[<%=da_title%>]"
          title="Sitting Buddha">
          <img src="<%=da_path%>sitting_buddha_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>sushi.jpg" rel="lightbox[<%=da_title%>]"
          title="Sushi">
          <img src="<%=da_path%>sushi_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>take_some_pictures.jpg" rel="lightbox[<%=da_title%>]"
          title="Take Some Pictures">
          <img src="<%=da_path%>take_some_pictures_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>the_elephant.jpg" rel="lightbox[<%=da_title%>]"
          title="The Elephant">
          <img src="<%=da_path%>the_elephant_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>tiberio.jpg" rel="lightbox[<%=da_title%>]"
          title="Tiberio">
          <img src="<%=da_path%>tiberio_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>unicornicopia.jpg" rel="lightbox[<%=da_title%>]"
          title="Unicornicopia">
          <img src="<%=da_path%>unicornicopia_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>vera.jpg" rel="lightbox[<%=da_title%>]"
          title="Vera">
          <img src="<%=da_path%>vera_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>victor.jpg" rel="lightbox[<%=da_title%>]"
          title="Victor">
          <img src="<%=da_path%>victor_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>vw.jpg" rel="lightbox[<%=da_title%>]"
          title="VW">
          <img src="<%=da_path%>vw_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>walking_in_paradise.jpg" rel="lightbox[<%=da_title%>]"
          title="Walking in Paradise">
          <img src="<%=da_path%>walking_in_paradise_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>you_and_me.jpg" rel="lightbox[<%=da_title%>]"
          title="You and Me">
          <img src="<%=da_path%>you_and_me_sm.jpg">
        </a>
      </li>
      <li class="galleryGrid">
        <a href="<%=da_path%>you_are_awesome.jpg" rel="lightbox[<%=da_title%>]"
          title="You are Awesome">
          <img src="<%=da_path%>you_are_awesome_sm.jpg">
        </a>
      </li>
      <!-- <li class="galleryGrid">
        <a href="<%=da_path%>you_are_right_where_you_should_be.jpg" rel="lightbox[<%=da_title%>]"
          title="You Are Right Where You Should Be">
          <img src="<%=da_path%>you_are_right_where_you_should_be_sm.jpg">
        </a>
      </li> -->
    </ul>

  </main>

  <aside class="social">
    <%= partial "partials/social" %>
  </aside>

</div>

<%= partial "partials/footer" %>
